.App {
  text-align: center;
  background-color: #f6fdff;
  height: 100vh;
}

.App-header {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 	#000080;
}

/* *************** MAIN SECTION *************** */
main {
  display: flex;
  justify-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  width: 160px;
}

img {
  width: 60%;
  padding: 5px 5px;
  align-self: center;
  border: 1px solid grey;
  border-radius: 50%;
  margin-bottom: 30px;
}

h3 {
  margin: 0 auto;
  color: #000080;
}

h4 {
  margin: 0 5px;
}